<?xml version="1.0" encoding="UTF-8" ?>
<c2addon>
    <type>behavior</type>

    <name><%= pkg.readableName %></name>
    <version><%= pkg.version %></version>
    <author><%= pkg.author %></author>
    <website><%= pkg.homepage %></website>
    <documentation><%= pkg.homepage %></documentation>
    <description><%= pkg.description %></description>
</c2addon>
